<div class="container" ng-controller="CarController as carCtrl">
    <h2>Number of cars: {{carCtrl.cars.length}}</h2>
    <div class="col-sm-4">
        <input class="form-control" type="search" ng-model="carfilter" placeholder="Filter cars">
    </div>
    <div class="row, col-sm-12">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td><a href="" ng-click="predicate = 'year'; reverse = !reverse">Year</a></td>
                        <td><a href="" ng-click="predicate = 'registered'; reverse = !reverse">Registered</a></td>
                        <td><a href="" ng-click="predicate = 'make'; reverse = !reverse">Make</a></td>
                        <td><a href="" ng-click="predicate = 'model'; reverse = !reverse">Model</a></td>
                        <td><a href="" ng-click="predicate = 'description'; reverse = !reverse">Description</a></td>
                        <td><a href="" ng-click="predicate = 'price'; reverse = !reverse">Price</a></td>
                        <td><a>Action</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="car in carCtrl.cars| filter: carfilter | orderBy:predicate:reverse">
                        <td>{{car.id}}</td>
                        <td>{{car.year}}</td>
                        <td>{{car.registered| date }}</td>
                        <td>{{car.make}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.description}}</td>
                        <td>{{car.price| currency}}</td>
                        <td>
                            <a href="#/edit/{{car.id}}">edit</a> |
                            <a href="#/" ng-click="carCtrl.delete(car.id)">delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
